<h1>Welcome to IBI's private area</h1>
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><a href="/private/users">Users</a></li>
    <li><a href="/private/courses">Courses</a></li>
  </ul>
</nav>