<h2 class="centered">Users section</h2>
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>
      <a href="/private/users/list"> List of users </a>
    </li>

    <% if (currentUser.permissions.userNew) { %>
    
      <li>
        <a href="/private/users/new"> Create new user </a>
      </li>
    
    <% } %>

  </ul>
</nav>
