<h1>Welcome to Ironhack Bureau Investigation</h1>
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><a href="/login">Login</a></li>
    <li><a href="/private">Private</a></li>
  </ul>
</nav>
